.container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 16px 100px;
}

.subHeaderItem {
    padding: 12px 32px;
}

.subHeaderItem:first-child {
    border-radius: 6px;
    background: #F4FFF3;
}